
<div class="container p-5">
    <div class="row justify-content-center">
        <div class="digg_pagination">
            <%= will_paginate @projects, :container => false %>
        </div>
    </div>
</br>

    <% @projects.each do |project| %>
    <div class="row">
        <div class="card mb-3">
            <img class="card-img-top" src="<%= url_for project.optimized_image(project.thumbnail, 586, 180) %>" alt="Blog Project Image Card" />
            <div class="card-body">
                <h5 class="card-title">
                    <%= link_to project.ref_num, project %>
                </h5>
                <p class="card-text">
                    <%= project.body.to_plain_text.truncate_words(50) %>
                </p>
                
            </div>
        </div>
    </div>
    <% end %>
</div>

<div class="container p-2">
    <div class="row justify-content-center">
        <div class="digg_pagination">
            <%= will_paginate @projects, :container => false %>
        </div>
    </div>