<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path %> |
<%= link_to 'Back', project_path %>

<div class="container" style="margin-top: 2em">
  <div class="row">
    <div class="jumbotron" style="width:100%">
      <h1 class="display-4">
        <%= link_to '@project.ref_num', root_path %>
      </h1>

      <p class="card-text">
        <small class="text-muted">
          <%= @post.updated_at.strftime("%A, %B %e, %Y") %> by
          <%= @post.user.username %> | <%= pluralize(@post.views, "View") %> |
          <% @num_comments = @post.comments.count %>
          <% @post.comments.each do |comment| %>
          <% @num_comments += comment.comments.count %>
          <% end %>
          <%= pluralize(@num_comments, "Comment") %> |
          <% if current_user && (current_user.admin || current.user == @post.user)%>
          <%= link_to "Delete", @post, method: :delete %>
          <% end %>
        </small>
      </p>
        <p>
          <strong>Title:</strong>
          <%= @post.title %>
        </p>
        <p>
          <strong>Work stage:</strong>
          <%= @post.work_stage %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @post.description %>
        </p>
      <hr class="my-4" />

      <% @post.elements.each do |element| %>
        <% if element.image? %>
          <div class="image-element mb-5">
            <%= image_tag(element.image) %>
          </div>
        <% else %>
          <div class="content-element mb-5">
            <%= element.content %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
    <%= render 'comments/form', commentable: @post, local: Comment.new %>

    <div id="comment-pane">
        <% @comments.each do |comment| %>
        <%= render comment %>
        <% end %>
    </div>
</div>


